
# Task 1 Baseline Notebook: Simple Regression Model

Welcome to the **Puerto Rico National Olympiad of Artificial Intelligence 2025**!  
In this task, your goal is to **predict a continuous variable (target)** based on three input features using **supervised machine learning**.

## How the competition works

- You are given:
  - `task1.ipynb`: a baseline jupyter notebook (Python) that serves as a starting point to solve the task.
  - `train_task1.csv`: a dataset of 150 entries with 3 features and the corresponding target value.
  - `eval_task1.csv`: a dataset of 75 entries with the same 3 features, but without the target. Each row has a unique `id`.
- Your task is to:
  1. **Train a regression model** using the training dataset.
  2. **Predict the target values** for the evaluation dataset.
  3. **Export your predictions** to a CSV file with two columns: `id` and `prediction`.

You will **submit your predictions**, and the organizers will evaluate how close they are to the real (hidden) targets using the **Mean Squared Error (MSE)** metric.

In [69]:
import pandas as pd

# Load training data (features and target)
train_df = pd.read_csv("train_task1.csv")
print("Training data:")
display(train_df)

# Load test data (features only)
eval_df = pd.read_csv("eval_task1.csv")
print("\nEvaluation data:")
display(eval_df)

Training data:

     feature_1  feature_2  feature_3     target
0    10.915069  12.460852 -20.733902 -19.141879
1    -3.276621  -3.921082 -14.635149 -18.288714
2     2.088636 -19.596701 -13.281860  11.750665
3     4.040509  18.861859   1.745778   9.447020
4    -8.084936  -5.017570   9.154021  16.319113
..         ...        ...        ...        ...
145   3.241664  -1.301431   0.969960  -4.603974
146  -1.156483  -3.011037 -14.785220   5.785587
147   1.990597  -6.002169   0.698021  24.251162
148  -3.845555  10.062928  -5.768919  -5.865601
149  12.776649  -5.915714   5.470974  -1.510806

[150 rows x 4 columns]

Evaluation data:

    id  feature_1  feature_2  feature_3
0    1   3.756980  -6.006387  -2.916937
1    2  11.677821   2.544208   3.376027
2    3   5.193465  15.327389  -1.087601
3    4   4.714684  18.820245  13.454200
4    5 -13.044695   6.696725   3.665982
..  ..        ...        ...        ...
70  71 -11.246421 -15.341142  12.776768
71  72   6.228499 -10.676204  -1.423795
72  73   3.853174  -8.838574   1.537251
73  74  20.607479  17.553408  -2.489641
74  75   0.184184  16.764373   3.269274

[75 rows x 4 columns]


## Step 1: Prepare the data

We'll separate the features and the target for training.  
The evaluation data only has features and an ID — we'll use those features to predict the target.

In [70]:
# Separate features and target
X_train_full = train_df[['feature_1', 'feature_2', 'feature_3']]
y_train_full = train_df['target']

# Extract test features and IDs
X_eval = eval_df[['feature_1', 'feature_2', 'feature_3']]
eval_ids = eval_df['id']

## Step 2: Evaluate your model before submitting

Before using the evaluation dataset, let's split our training data into a smaller training set and a validation set.
This helps us understand how well the model might perform on unseen data — just like in the real evaluation.

We'll use **Linear Regression**, a common starting point in machine learning and we will use **80% for training** and **20% for testing**.

----
**Stop here**

The procedure below creates a very simple model that will not generate the best results. If you want to improve your score try some of the following ideas:
- Try more powerful models like `RandomForestRegressor`, `GradientBoostingRegressor`, or `SVR`. See [Machine Learning Map](https://scikit-learn.org/stable/machine_learning_map.html).
- Use feature transformations like polynomial features or normalization. See [Dataset Transformations](https://scikit-learn.org/stable/data_transforms.html).
- Tune model hyperparameters. For this see the documentation for each model.
---

In [71]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Split the original training data
X_train, X_test, y_train, y_test= train_test_split(X_train_full, y_train_full, test_size=0.2, random_state=42)

# Train the model on training subset
model = LinearRegression()
model.fit(X_train, y_train)

# Predict and evaluate on the validation set
y_test_pred = model.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print(f"Test MSE: {test_mse:.4f}")

Test MSE: 56.2337

## Step 3: Train your model again with all the data

In [ ]:
# Train the model
model.fit(X_train_full, y_train_full)


## Step 3: Make predictions on the evaluation data

In [73]:
# Predict using the trained model
y_eval_pred = model.predict(X_eval)


## Step 4: Save predictions to a CSV file

We create a new DataFrame with the `id` and your model's predictions, then save it.  
Make sure your file is named `predictions_task1.csv` for submission!

In [74]:
# Create submission DataFrame
submission = pd.DataFrame({'id': eval_ids, 'prediction': y_eval_pred})

# Save to CSV
submission.to_csv("predictions_task1.csv", index=False)
print("Predictions saved to predictions_task1.csv!")

Predictions saved to predictions_task1.csv!